@model PagedList.IPagedList<PrivateTutorOnline.Models.Customer>
@using PagedList.Mvc;
@{
    ViewBag.Title = "CustomerManagementView";
}

<h2>Danh sách phụ huynh</h2>
 
<table class="table">
    <tr> 
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Ward)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsActivate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsEnable)
        </th>
        <th>
            Activated
        </th>
        <th>
            Enable
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>  
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ward)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td class="row-customer-is-activated-@item.Id">
            @if(item.IsActivate)
            {
                <span style="color:blue;">Đã kích hoạt</span>
            }
            else
            {
                <span style="color:blue;">Chưa kích hoạt</span>
            } 
        </td>
        <td class="row-customer-is-enable-@item.Id">
            @if (item.IsEnable)
            {
                <span style="color:blue;">Mở</span>
            }
            else
            {
                <span style="color:blue;">Khóa</span>
            } 
        </td>
        <td> 
            @if(!item.IsActivate)
            {
                <button class="btn btn-success activate-customer" data-customer-id="@item.Id">Kích hoạt</button>
            }
        </td>
        <td>
            @if (!item.IsEnable)
            {
                <input type="checkbox" style="transform: scale(1.5)" class="btn btn-info enable-customer" data-customer-id="@item.Id">
            }
            else
            {
                <input checked type="checkbox" style="transform: scale(1.5)" class="btn btn-info enable-customer" data-customer-id="@item.Id">
            }
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("CustomerManagementView", "Admin", new { page }))
@section Scripts {

    <script src="~/Scripts/AdminCustomerManagement.js">

    </script>  
}