@model PrivateTutorOnline.Models.IndexViewModel
@{
    ViewBag.Title = "Hồ sơ";
}

<h2>@ViewBag.Title.</h2>
 
<div>
    @if (ViewBag.StatusMessage != "" || ViewBag.StatusMessage != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">@ViewBag.StatusMessage</div> 
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
            {
                @Html.Action("CustomerDetails", "Tutors", new { Id = Model.UserId });
            }
            @if (User.Identity.IsAuthenticated && User.IsInRole("Tutor"))
            {
                @Html.Action("TutorDetails", "Tutors", new { Id = Model.UserId });
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
            {
                @Html.ActionLink("Thay đổi thông tin hồ sơ", "EditCustomerInfoView", "Tutors", new { Id = Model.UserId }, null);
            }
            @if (User.Identity.IsAuthenticated && User.IsInRole("Tutor"))
            {
                @Html.ActionLink("Thay đổi thông tin hồ sơ", "EditTutorInfoView", "Tutors", new { Id = Model.UserId }, null);
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Đổi mật khẩu", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </div>
    </div>

            <hr />
            @*<dl class="dl-horizontal">
                    <dt>Password:</dt>
                    <dd>
                        [

                        ]
                    </dd>


                    <dt>External Logins:</dt>
                    <dd>
                        @Model.Logins.Count [
                        @Html.ActionLink("Manage", "ManageLogins") ]
                    </dd>


                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")</text>
                    }
                </dd>

                    <dt>Two-Factor Authentication:</dt>
                    <dd>
                        <p>
                            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication.
                        </p>
                        @if (Model.TwoFactor)
                            {
                                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>Enabled
                                    <input type="submit" value="Disable" class="btn btn-link" />
                                    </text>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>Disabled
                                    <input type="submit" value="Enable" class="btn btn-link" />
                                    </text>
                                }
                            }
                    </dd>*@
            </dl>
        </div>
