<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Finding Tutors", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    { 
                        <li>@Html.ActionLink("Quản lý Phụ huynh", "CustomerManagementView", "Admin")</li>
                        <li>@Html.ActionLink("Quản lý Gia sư", "TutorManagementView", "Admin")</li>
                        <li>@Html.ActionLink("Quản lý Lớp cần gia sư", "ClassManagementView", "Admin")</li>
                        <li>@Html.ActionLink("Quản lý môn học", "SubjectManagement", "Admin")</li>
                        <li>@Html.ActionLink("Quản lý Lớp", "GradeManagement", "Admin")</li>
                    } 
                    @if (!User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Gia sư hiện có", "ExistingTutorsList", "Tutors")</li>
                    }
                    
                    @if (!Request.IsAuthenticated && !User.IsInRole("Customer") && !User.IsInRole("Tutor"))
                    {
                        <li>@Html.ActionLink("Đăng Kí Làm Gia Sư", "TutorRegistrationForm", "Tutors")</li>
                    }
                    
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
                    {
                        <li>@Html.ActionLink("Đăng kí tìm gia sư", "ClassRegistrationForm", "Class")</li>
                        <li>@Html.ActionLink("Danh sách lớp đã có gia sư", "EnrolledClass", "ManageRegistrationClasses")</li>
                        <li>@Html.ActionLink("Danh sách lớp đã đăng", "PostedClass", "ManageRegistrationClasses")</li>
                    } 
                      
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Tutor"))
                    {
                        <li>@Html.ActionLink("Danh sách lớp đã nhận", "EnrolledClass", "ManageRegistrationClasses")</li>
                        <li>@Html.ActionLink("Danh sách lớp hiện có", "AllPostedClass", "ManageRegistrationClasses")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="flex-container body-content">
        <div class="row">
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <div class="col-md-12" style="margin-top:50px;">
                    @RenderBody()
                </div>  
            }
            else
            {
                <div class="col-md-2" style="margin-left:50px; margin-top:50px;">
                    @Html.Action("SideBar", "Base")
                </div>
                <div class="col-md-9" style="margin-top:50px;">
                    @RenderBody()
                </div>
            }
        </div> 
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toaster")
    @RenderSection("scripts", required: false)
</body>
</html>
