@model PrivateTutorOnline.Models.ViewModels.TutorEditViewModel

@{
    ViewBag.Title = "Index";
}

 
<div style="margin-left:50px;">
    <h4>Sửa thông tin cá nhân</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @{
                var base64 = Convert.ToBase64String(Model.Avatar);
                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
            }
            <img src='@imgSrc' style="width:150px; height:150px">
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MajorSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajorSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraduationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Advantage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advantage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grades)
        </dt>

        <dd>
            @foreach(var grade in Model.Grades)
            {
                <span>@grade.Name - </span>
            } 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subjects)
        </dt>

        <dd>
            @foreach (var grade in Model.Subjects)
            {
                <span>@grade.Name - </span>
            }
        </dd>
    </dl>
</div> 