<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
<body>
    @Html.Partial("_HeaderNavBar")
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="margin-left:50px; margin-top:50px;">
                @Html.Action("SideBar", "Base") 
            </div>
            <div class="col-md-9" style="margin-top:50px;">
                @RenderBody()
            </div>
        </div>
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Finding Tutor Online</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
